.wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.left {
height: 100vh;
  background-color: black;
  width: 20vw;
}
.right {
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
}
.topbar {
  background-color: rosybrown;
  height: 5vh;
}
.artist {
  height: 35vh;
}
.lower {
  display: flex;
  flex-direction: row;
}
.genre {
  background-color: bisque;
  height: 60vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
}
.topartists {
  background-color: #18181d;
  height: 20vh;
  color: white;
}
.chartsalot {
  background-color: #18181d;
  display: flex;
  flex-direction: row;
}
.genres {
  background-color: #18181d;
  height: 40vh;
  width: 25vw;
}
.topcharts {
  display: flex;
  align-items: center;
}
.player {
  background-color: blueviolet;
  color: aliceblue;
  height: 60vh;
  width: 30vw;
}